# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
Builds/

# ========= #
# Big Files #
# ========= #
# Put Big Files Here #
StreamingAssets/
# Arthur Tubb's Working Files live here,  don't sync this! #
Work/

# Builds Folder and any rogue build files
Builds/
# any stray build files should get cleaned up by this but for some reason it's not working properly.
*.apk
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.unitypackage
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db